* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

:root {
  --x: 400px;
  --y: 400px;
}

/* Background Video */
#bg-video {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 0;
}

/* Spotlight overlay */
.box {
  position: fixed;
  height: 100%;
  width: 100%;
  z-index: 2;
  pointer-events: none;
  background: radial-gradient(
      200px at var(--x) var(--y),
      rgba(255, 255, 255, 0) 0%,
      rgba(0, 0, 0, 0.726) 70%
  );
}
